@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100vh;
}

body {
    font-style: normal;
    font-family: Lato, sans-serif;
}

div {
    box-sizing: border-box;
}

.page {
    min-height: 100vh;
    display: grid;
    grid-template-rows: minmax(74px, auto) 1fr minmax(200px, auto);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

img {
    object-fit: cover;
}

p {
    font-size: 14px;
    line-height: 17px;
}

.header {
    background-color: #222222;
    padding: 19px 0;
}

.search {
    width: 111px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nav {
    width: 169px;
}

.ul__nav {
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart {
    display: inline-block;
    position: relative;
}

.itemscart {
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    border-radius: 50%;
    background-color: #F16D7F;
    width: 19px;
    height: 19px;
    position: absolute;
    top: -8px;
    left: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    background-color: #F1E4E6;
    min-height: 148px;
}

.top__image {
    height: 765px;
    width: 420px;
}

.top_text {
    min-height: 363px;
    display: flex;
    align-items: center;
}

.top_text_logo {
    padding-left: 16px;
    border-left: 12px solid #F16D7F;
    text-shadow: 0 3px 2px grey;
}

.top_text_logo h1 {
    font-size: 48px;
    line-height: 58px;
    color: #222222;
    font-weight: 900;
}

.text_logo {
    display: flex;
    flex-wrap: wrap;
}

.fashion,
.ofluxe {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.fashion {
    color: #F16D7F;
    padding-left: 5px;
}



.top__departments {
    padding-top: 64px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 180px;
}

.top__departments img {
    width: 100%;
    height: 100%;
}

.products {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product__text {
    width: 146px;
    text-align: center;
    position: absolute;
}

.product__text_bottom {
    text-align: center;
    position: absolute;
}

.top__textcont {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.bottom__text {
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.accesories {
    grid-column: 1/4;
}


.catalog {
    margin-top: 95px;
    margin-bottom: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top__catalog {
    text-align: center;
}

.itemcards {
    margin-top: 48px;
    margin-bottom: 48px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 360px);
}

.h2_topcatalog {
    font-size: 30px;
    line-height: 36px;
    font-weight: normal;
    color: #222222;
}

.text_topcatalog {
    color: #9F9F9F;
}

.card__item {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
}

.card_img {
    width: 100%;
}

.h4_carditem {
    font-size: 13px;
    line-height: 16px;
}

.text_item {
    color: #5D5D5D;
    margin-top: 13px;
    margin-bottom: 18px;
}

.itemtext {
    margin: 23px 17px;
}

.price_tag {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.catalog_button {
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-align: center;
    border: 1px solid #FF6A6A;
    padding: 15px 40px;
    text-decoration: none;
    display: inline-block;
    width: 211px;
    align-self: center;
}

.footer_top_bg {
    background-color: #222224;
}

.footer_top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 103px 0;
}

.footer_top div {
    text-align: center;
}

.footer_top h4 {
    font-size: 19.96px;
    font-weight: normal;
    line-height: 24px;
    color: #FBFBFB;
    padding-top: 28px;
    padding-bottom: 16px;
}

.footer_top p {
    color: #FBFBFB;
}

.footer_top img {
    height: 40px;
}

.footer_subscribe_bg {
    background-image: url(img/bg_subscribe.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.footer_subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 0;
}

.subscribe_info {
    max-width: 345px;
    text-align: center;
}

.subscribe {
    text-align: center;
    align-self: end;
}

.subscribe_info p {
    padding-top: 30px;
    font-size: 20px;
    line-height: 24px;
    color: #222224;
}

.subscribe h2 {
    font-size: 24px;
    line-height: 167.2%;
    color: #222224;
}

.subscribe p {
    font-size: 18px;
    line-height: 167.2%;
    color: #222224;
    padding-bottom: 32px;
}

.subscribe input {
    background-color: #E1E1E1;
    height: 49px;
    width: 250px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: none;
}

.subscribe button {
    height: 49px;
    width: 100px;
    background: #F16D7F;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: none;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.form {
    display: flex;
    justify-content: center;
}

.footer_bottom_bg {
    background-color: #222224;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.copy {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.catalog_top {
    display: flex;
    align-items: center;
    height: 100%;
}

.namepage {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.breadcrumb {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.slash {
    padding: 0 5px
}

.xpage {
    font-weight: 700;
    color: #F16D7F;
}

.filterbox {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    padding: 51px 0;
}

.filter {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.filter_text {
    padding-right: 11px;
}

.sorting span,
.sorting select {
    font-size: 12px;
    line-height: 14px;
    color: #6F6E6E;
}

.sorting_text {
    padding-left: 19px;
}

#selectvalue {
    border-style: none;
    width: 20px;
}

.cat_catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.pagination {
    border: 1px solid #EBEBEB;
    margin-top: 50px;
    margin-bottom: 96px;
    width: 284px;
    height: 44px;
    display: flex;
    justify-content: space-around;
}

.pagination a {
    color: #EBEBEB;
    float: left;
    padding: 13px 8px;
    text-decoration: none;
}

/* .pagination img {
    padding: 0 16px;
} */

.pagination a.active {
    color: #EF5B70;
}

@media (max-width: 1024px) {
    .container {
        max-width: 736px;
    }

    .header {
        padding: 19px 32px;
    }

    .top {
        max-width: 1024px;
    }

    .top__image {
        height: 50%;
    }

    .top_container {
        justify-content: space-evenly;
    }

    .top_text_logo h1 {
        font-size: 44px;
        line-height: 53px;
    }

    .fashion,
    .ofluxe {
        font-size: 24px;
        line-height: 29px;
    }

    .content,
    .catalog {
        justify-content: center;
    }

    .top__departments {
        gap: 18px;
        padding-top: 20px;
        grid-template-rows: 167px 116px;
    }

    .itemcards {
        gap: 16px;
        grid-template-columns: repeat(2, 360px);
    }

    .footer_top {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 48px;
        padding: 50px 0;
    }

    .footer_subscribe_bg {
        background-position: left;
        background-size: cover;
    }

    .footer_subscribe {
        flex-direction: column;
        padding: 64px 0;
    }

    .subscribe {
        align-self: center;
        padding-top: 50px;
        padding-bottom: 76px;
    }

    .footer_bottom {
        padding: 30px 16px;
    }

    .sorting {
        justify-self: end;
    }

    .cat_catalog {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .cat_catalog :nth-child(3) {
        display: none;
    }
}

@media (max-width: 667px) {
    .container {
        max-width: 359px;
    }

    .header {
        padding: 19px 16px;
    }

    .ul__nav {
        flex-direction: row-reverse;
    }

    .mobile_none {
        display: none;
    }

    .top__image {
        display: none;
    }

    .top__text {
        margin: 0px;
        width: 75%;
    }

    .top {
        display: flex;
        justify-content: center;
    }

    .top__departments {
        padding-top: 64px;
        column-gap: 32px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr) 111px;
    }

    .accesories {
        grid-column: auto;
    }

    .top__departments img {
        width: 100%;
    }

    .accesories img {
        height: 100%;
    }

    .catalog {
        margin-top: 64px;
    }

    .itemcards {
        gap: 16px;
        grid-template-columns: 1fr;
    }

    .footer_top {
        padding: 60px 0;
    }

    .footer_subscribe {
        padding: 64px 0;
    }

    .subscribe input {
        width: 210px;
    }

    .footer_bottom {
        flex-direction: column-reverse;
        padding-bottom: 9px;
    }

    .copy {
        padding-top: 40px;
    }

    .catalog_top {
        flex-direction: column;
        padding-top: 24px;
        padding-bottom: 46px;
    }

    .filter_text {
        display: none;
    }

    .filterbox {
        grid-template-columns: repeat(2, auto);
        padding: 24px 0;
    }

    .filter img {
        width: 37px;
        height: 25px;
    }

    .cat_catalog {
        grid-template-columns: 1fr;
    }
}